@import "../../../../styles/mixin";

$plum-my-panel: plum-my-panel;

.#{$plum-my-panel} {
  &-header {
    padding: 0 30px;
    margin-bottom: 30px;
    @include flexLayout(space-between);
  }

  &-title {
    font-size: 32px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: bold;
    color: rgba(13, 14, 21, 1);
    line-height: 44px;
  }

  &-action {
    font-size: 24px;
    font-family: PingFangSC-Light, PingFang SC;
    font-weight: 300;
    color: rgba(13, 14, 21, 1);
    line-height: 34px;
    @include flexLayout(flex-end)
  }

  &-content {
    @include flexLayout(space-between);
    flex-wrap: wrap;
  }
}
