@mixin SemiBold {
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: bold;
}

@mixin Light {
  font-family: PingFangSC-Light, PingFang SC;
  font-weight: 300;
}

@mixin Regular {
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
}
