@import "./colors";

$primary-color: $txt-color-1;
$success-color: $txt-color-1;
$disabled-color: $txt-color-5;

$zindex-modal: 1000;
$zindex-modal-mask: 1000;

$font-size-lg: 34px;
$font-size-base: 32px;
$font-size-sm: 26px;

$border-radius-base: 8px;
// btn
$btn-border-radius-base: $border-radius-base;
$btn-primary-color: #fff;
$btn-primary-bg: $primary-color;
$btn-primary-border: $primary-color;

$btn-disabled-color: #FFFFFF;
$btn-disabled-bg: $disabled-color;
$btn-disabled-border: $disabled-color;

$btn-success-color: $success-color;
$btn-success-bg: rgba($success-color, .1);
$btn-success-border: rgba($success-color, .1);

$btn-cancel-color: #FFFFFF;
$btn-cancel-bg: $disabled-color;
$btn-cancel-border: $disabled-color;
$btn-border-width: 1px;

//modal
$modal-base-font-size: $font-size-sm;
$modal-tips-font-color: #7F7F7F;
$modal-title-font-size: $font-size-lg;
// Animation
$animation-duration-slow: 0.3s;
$animation-duration-base: 0.2s;
$animation-duration-fast: 0.1s;
