@import "~@scss/mixin";

$product-card: product-card;
// Column商品样式
.#{$product-card} {
  display: flex;
  overflow: hidden;

  &-sale-wrap {
    height: 46px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-left: 42px;
  }

  &-sale-img {
    width: 100px;
    height: 46px;
  }

  &-sale-text {
    padding: 10px;
    height: 40px;
    min-width: 80px;
    background: rgba(255, 255, 255, 1);
    border-radius: 0px 4px 4px 0px;
    font-size: 20px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: bold;
    color: rgba(255, 12, 5, 1);
    line-height: 20px;
    border: 2px solid rgba(255, 12, 5, 1);
    display: inline-block;
    box-sizing: border-box;
    transform: translateX(-40px);
    position: relative;
    z-index: 1;
  }

  &-img {
    width: 210px;
    height: 210px;
    margin-bottom: 20px;
  }

  &-brand {
    max-width: 200px;
    font-size: 28px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: bold;
    color: rgba(17, 17, 17, 1);
    line-height: 40px;
    text-align: center;
    @include ellipsis();
  }

  &-price-wrap {
    line-height: 34px;
  }

  &-price {
    font-size: 28px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: bold;
    color: rgba(17, 17, 17, 1);
    line-height: 40px;
    display: inline-block;
  }

  &-price-through {
    font-size: 24px;
    font-family: PingFangSC;
    text-decoration: line-through;
    color: #AAA;
    display: inline-block;
    margin-left: 6px;
  }
}

.#{$product-card}-column {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

