@import "../../styles/mixin";

$plum-my: plum-my;

.#{$plum-my}-wrapper {
  background-color: #fff;
}

.#{$plum-my} {
  position: relative;

  &-seller-line {
    border: 1px solid rgba(247, 247, 247, 1);
    margin: 32px 30px 44px;
  }

  &-dinot {
    font-family: DINOT-Bold, DINOT;
    font-weight: bold;
  }

  &-main {
    margin-top: -48px;
    background-color: #fff;
    border-radius: 30px;
    padding-top: 38px;
  }

  &-user-detail {
    @include flexLayout(flex-start);

    &-item {
      width: 33%;
      position: relative;
      @include flexLayout();
      flex-direction: column;

      &-num {
        position: relative;
        font-size: 34px;
        font-family: DINOT-Bold, DINOT;
        font-weight: bold;
        color: rgba(13, 14, 21, 1);
        line-height: 44px;
        margin-bottom: 8px;
        @include flexLayout();
      }

      &-name {
        font-size: 24px;
        font-family: PingFangSC-Light, PingFang SC;
        font-weight: 300;
        color: rgba(13, 14, 21, 1);
        line-height: 34px;
      }

      &-text {
        line-height: 34px;
        font-size: 28px;
        font-weight: 600;
        margin-top: 4px;
        margin-left: 4px;
        font-family: PingFangSC-Semibold, PingFang SC;
      }

      &-dot {
        position: absolute;
        right: -30px;
        top: -10px;
      }
    }
  }

  &-back-cash-wrap,
  &-seller-product-wrap {
    width: 100%;
    padding: 0 30px;
  }

  &-back-cash,
  &-red-card {
    padding: 0 30px;

    &-bg {
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &-btn {
      width: 140px;
      height: 48px;
      text-align: center;
      font-size: 22px;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: bold;
      color: rgba(255, 255, 255, 1);
      line-height: 48px;
      background-image: url("https://imgbsy.aplum.com/o_1duf5ju5911gj1e8tf8koi41oort.png");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &-back-cash {
    height: 120px;
    margin-top: 48px;
    margin-bottom: 44px;
    //padding: 30px 30px 24px 30px;
    background-color: #FFE7E7;
    border-radius: 20px;
    @include flexLayout(space-between);

    &-content {
      @include flexLayout(flex-start);
      align-items: flex-start;
      flex-direction: column;
    }

    &-info {
      margin-top: 20px;
      font-size: 28px;
      font-family: PingFangSC-Light, PingFang SC;
      font-weight: 300;
      color: rgba(13, 14, 21, 1);
      line-height: 40px;
      margin-bottom: 10px;
      @include flexLayout(flex-start);
    }

    &-detail {
      @include flexLayout(flex-start);
    }

    &-num {
      font-size: 34px;
      margin: 0 10px;
    }
  }

  &-red-card {
    margin-top: 32px;
    margin-bottom: 44px;
    width: 100%;
    height: 80px;

    &-bg {
      font-size: 26px;
      font-family: PingFangSC-Light, PingFang SC;
      font-weight: 300;
      padding-right: 20px;
      color: rgba(13, 14, 21, 1);
      background-image: url("https://imgbsy.aplum.com/o_1duf5a0ee5o81en01bk71ao118lqo.png");
      @include flexLayout(flex-end);
    }

    &-desc {
      font-size: 26px;
      font-family: PingFangSC-Light, PingFang SC;
      font-weight: 300;
      color: rgba(13, 14, 21, 1);
      line-height: 36px;
    }

    &-btn {
      margin-left: 34px;
    }
  }

  &-seller-product {
    width: 100%;
    background: rgba(247, 247, 247, 1);
    border-radius: 20px;
    padding: 30px;

    &-header {
      margin-bottom: 30px;
      @include flexLayout(space-between);
    }

    &-tips {
      font-size: 22px;
      font-family: PingFangSC-Light, PingFang SC;
      font-weight: 300;
      color: rgba(13, 14, 21, 1);
      line-height: 34px;
      width: 436px;
      @include ellipsis();
    }

    &-title {
      font-size: 24px;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: bold;
      color: rgba(0, 0, 0, 1);
      line-height: 34px;
    }

    &-img {
      width: 160px;
      height: 160px;
      margin-right: 30px;
      border-radius: 10px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: #fff;
    }

    &-brand {
      font-size: 30px;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: bold;
      color: rgba(13, 14, 21, 1);
      line-height: 42px;
    }

    &-browse {
      font-size: 24px;
      font-family: PingFangSC-Light, PingFang SC;
      font-weight: 300;
      color: rgba(13, 14, 21, 1);
      margin-top: 12px;
      line-height: 34px;
    }

    &-browse-text {
      font-size: 24px;
      font-family: PingFangSC-Light, PingFang SC;
      font-weight: 300;
      color: rgba(13, 14, 21, 1);
      display: inline-block;
      margin-right: 20px;
    }

    &-bold {
      font-family: DINOT-Bold;
    }

    &-bubble {
      margin-top: 20px;
      background-color: #FEF2E2;
      text-align: justify;
      font-size: 22px;
      border-radius: 20px;
      font-family: PingFangSC-Semibold, PingFang SC;
      color: rgba(160, 96, 0, 1);
      line-height: 36px;
      padding: 12px 26px;
      margin-bottom: 30px;
      position: relative;

      &::after {
        content: '';
        width: 40px;
        height: 10px;
        background-image: url("https://imgbsy.aplum.com/o_1e5kbg82h1hdm5d392f82r1pu9o.png");
        background-size: 100% 100%;
        position: absolute;
        left: 50%;
        top: -10px;
        transform: translate(-50%);
      }
    }

    &-interval {
      font-size: 24px;
      font-family: PingFangSC-Light, PingFang SC;
      font-weight: 300;
      color: rgba(13, 14, 21, 1);
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    &-content {
      @include flexLayout(flex-start);
    }

    &-btns {
      margin-top: 26px;
      @include flexLayout(flex-end);
    }

    &-btn {
      position: relative;
      height: 64px;
      padding: 14px 30px;
      text-align: center;
      font-size: 26px;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: bold;
      color: rgba(255, 12, 5, 1);
      line-height: 40px;

      &:not(:first-child) {
        margin-left: 20px;
      }

      &::after {
        content: '';
        border: 2px solid #FF0C05;
        width: 200%;
        height: 200%;
        transform: scale(.5);
        position: absolute;
        left: -50%;
        top: -50%;
        border-radius: 64px;
      }
    }
  }

  &-user-detail-item-dot {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
  }

  &-seller-products {
    width: 100%;
    @include flexLayout(space-between);
    flex-wrap: wrap;
    padding: 0 30px;
    background-color: #fff;
  }

  &-item-auto {
    flex: 1;
  }

  &-item-service {
    width: 25%;
    margin-bottom: 42px;
  }

  &-service-wrap {
    width: 100%;
    @include flexLayout(flex-start);
    flex-wrap: wrap;
  }

  &-banner {
    height: 120px;
    padding: 0 30px;
    border-radius: 20px;
    margin-bottom: 44px;

    &-item {
      width: 100%;
      height: 100%;
      background-color: transparent;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 20px;
      overflow: hidden;
    }
  }

  &-guess-like {
    margin: 0 auto;
    width: 232px;
    display: block;
  }
}

#page-my-list {
  margin-top: 20px;
  padding-top: 40px;
  background-color: #fff;
}

.seller-curtain-bg {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.popup-count-down {
  position: fixed;
  bottom: 200px;
  right: 14px;
  width: 160px;
  height: 148px;
  z-index: 1001;

  .count-down {
    position: absolute;
    top: 10px;
    left: 42px;
    color: #FFE7BE;
    font-size: 24px;
    font-weight: bold;
    font-family: PingFangSC-Semibold;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: -28px;
      transform: translateY(-55%);
      width: 26px;
      height: 26px;
      background-image: url('https://imgbsy.aplum.com/o_1e1r460kbinsekr1jifbvd11s9o.png');
      background-repeat: no-repeat;
      background-position: 100% 100%;
      background-size: 26px 26px;
    }
  }

  image {
    width: 100%;
    height: 100%;
  }
}
